<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LJMSOFT.Properties.Settings.LJMSOFTConnectionString"
            connectionString="Data Source=25.7.90.139;Initial Catalog=LJMSOFT;Persist Security Info=True;User ID=sa;Password=33226655"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>